<% include include/header.html %>
<div class="container">
  <h2><span class="label label-primary"><%= movie.category%></span> <%= movie.originalname %> </h2>
  <hr>
  <div id="dplayer" style="height: 600px;"></div>

  <input type="hidden" id='videoId' value="<%= movie._id%>">
  <hr>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <img class="img-responsive img-rounded" src="/videos/<%= movie._id%>/1.jpg" alt="...">

    </div>
    <div class="col-xs-6 col-md-3">
      <img class="img-responsive img-rounded" src="/videos/<%= movie._id%>/2.jpg" alt="...">

    </div>
    <div class="col-xs-6 col-md-3">
      <img class="img-responsive img-rounded" src="/videos/<%= movie._id%>/3.jpg" alt="...">

    </div>
    <div class="col-xs-6 col-md-3">
      <img class="img-responsive img-rounded" src="/videos/<%= movie._id%>/4.jpg" alt="...">

    </div>
  </div>
</div>
<% include include/footerMovie.html %>